@charset "utf-8";

#top {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999em;
	font-size: 0;
}
/*건너뛰기링크*/
#accessibility {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2000;
	width: 100%
}

#accessibility a {
	display: block;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	color: #fff
}

#accessibility a:focus, #accessibility a:active {
	width: 100%;
	height: auto;
	padding: 7px 0;
	background-color: #000
}

/*공통부분*/
input[type=text], input[type=password], input[type=tel], input[type=email]
	{
	height: 24px;
	padding: 0 5px;
	border: 1px solid #bababa;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=checkbox], input[type=radio] {
	margin-top: -1px;
	margin-bottom: 1px;
}

textarea {
	padding: 5px;
	border: 1px solid #bababa;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select {
	height: 26px;
	margin: 0;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #bababa;
}

h1, h2, h3, h4, h5, h6, th, thead, strong {
	font-weight: 500;
}

/* 모든 Device를 위한 공통 로드 */
.bbg {
	display: none;
}

@media screen and (max-width: 1024px) {
	body.gnbOpen {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.bbg {
		position: fixed;
		display: block;
		z-index: 10;
		left: 0;
		top: 0;
		width: 100%;
		height: 0;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color ease 0.3s;
		-webkit-transition: background-color ease 0.3s;
		-moz-transition: background-color ease 0.3s;
	}
	body.gnbOpen .bbg {
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

/*header*/
header {
	position: relative;
}

header h1 {
	position: absolute;
	z-index: 5;
	/* left: 0; */
	top: 73px;
	/* width: 230px; */
}

header h1 a {
	display: inline-block;
}

header h1 a img {
	max-height: 58px;
}

header .h_b {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	height: 40px;
}

header .h_w {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

header .u_m>ul.u_l {
	font-size: 0;
	border-left: 1px solid #e9e9e9;
}

header .u_m>ul.u_l>li {
	display: inline-block;
	border-right: 1px solid #e9e9e9;
}

header .u_m>ul.u_l>li.searchbar {
	background: #9e9e9e;
	float: right;
	border-left: none;
}

header .u_m>ul.u_l>li a {
	display: inline-block;
	padding: 0 40px;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	font-weight: 500;
}

header .u_m>ul.u_l>li:nth-child(4) a {
	color: #fff;
	padding: 0 20px;
}

header .u_m>ul.u_l>li a:hover {
	text-decoration: underline;
}

header .u_m>ul.u_l>li a input[type=text] {
	height: 40px;
	border: none;
	background: none;
	color: #fff;
	font-weight: 500;
	/* font-family:'NotoKR','Noto Sans KR','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo','Apple SD Gothic Neo',Helvetica,sans-serif; */
}

header .u_m>ul.u_l>li a input[type=text]::-webkit-input-placeholder {
	color: #fff;
	font-size: 13px;
}

header .u_m>ul.u_l>li a input[type=text]::-moz-placeholder {
	color: #fff;
	font-size: 13px;
}

header .u_m>ul.u_l>li a input[type=text]::-ms-placeholder {
	color: #fff;
	font-size: 13px;
}

header .u_m>ul.u_l>li a button {
	background-color: transparent;
}

header button.gnbOpen {
	display: none;
}

/*header .u_m{}
header .u_m > ul.u_l{font-size:0;}
header .u_m > ul.u_l > li{display:inline-block;border-left:1px solid #e9e9e9;}
header .u_m > ul.u_l > li:nth-child(3){border-right:1px solid #e9e9e9;}
header .u_m > ul.u_l > li:nth-child(4){background:#9e9e9e;float: right;border-left:none;}
header .u_m > ul.u_l > li a{display:inline-block; padding:0 40px; box-sizing:border-box; height:40px; line-height:40px;font-size:11px;font-weight:500;}
header .u_m > ul.u_l > li:nth-child(4) a{color: #fff; padding:0 20px;}
header .u_m > ul.u_l > li a:hover{opacity:0.8;}
header .u_m > ul.u_l > li a input[type=text]{
	height: 40px;border: none;background: none;
}
header .u_m > ul.u_l > li a button{background-color: transparent;}

header button.gnbOpen{display:none;}*/

/* header #gnb{position:absolute;z-index:4;width:100%;left:0;top:29px;height:40px;overflow:hidden;background:#fff;border-bottom:3px solid #fff;}
header #gnb:after{display:block;position:absolute;width:100%;height:1px;left:0;top:65px;background-color:#e6e2dd;content:'';}
header #gnb.hover{border-color:#e2383f;}
header #gnb ul.g_l{float:right}
header #gnb ul.g_l > li{position:relative;float:left;padding:0 13px;text-align:center;}
header #gnb ul.g_l > li:last-child{margin-left:0;padding-right:0;}
header #gnb ul.g_l > li > a{display:inline-block;padding-top:20px;box-sizing:border-box;height:65px;font-weight:500;font-size:19px;transition:color ease 0.3s;-webkit-transition:color ease 0.3s;-moz-transition:color ease 0.3s;}
header #gnb ul.g_l > li > a:hover,header #gnb > ul.g_l > li > a:focus,header #gnb ul.g_l > li.active > a{color:#e2383f;}

header #gnb ul.dp2{position:absolute;left:0;top:66px;width:100%;min-height:220px;padding:20px 12px;border-right:1px solid #e6e2dd;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
header #gnb ul.g_l > li:first-child ul.dp2{border-left:1px solid #e6e2dd;}
header #gnb ul.dp2 > li{padding:5px 0;text-align:left;}
header #gnb ul.dp2 > li > a{font-weight:500;font-size:13px;color:#747474;}
header #gnb ul.dp2 > li > a:hover,header #gnb ul.dp2 > li > a:focus,header #gnb ul.dp2 > li > a.active{color:#e2383f;}
header #gnb ul.dp3{padding:4px 10px;}
header #gnb ul.dp3 > li{padding:3px 0;}
header #gnb ul.dp3 > li:after{display:block;position:absolute;width:3px;height:3px;left:0;top:50%;margin-top:-2px;background-color:#9f9f9f;content:'';}
header #gnb ul.dp3 > li > a{color:#acacac;}

header .g_w{position:relative;max-width:1200px;margin:0 auto;height:300px;background:#fff url('../img/common/gnb_bg.png') left bottom no-repeat;} */

/*
header #gnb {
	position:relative;
	margin:0 auto;
	width:1200px;
}
body.gnbOpen header #gnb.mobile{display: none;}

header #gnb .g_w {
	position:absolute;
	top:0px;
	right:0;
	width: 100%;
	text-align: right;
}

header #gnb .g_l {font-size:0;margin-right: 45px;float:right;overflow:hidden;}
header #gnb .g_l > li.first{display: none;}
header #gnb .g_l > li {display:inline-block;float:left;}
header #gnb .g_l > li a:after{transition: width 1s;transform: translateX(2);}
header #gnb .g_l > li:hover>a:after{content: '';width: 100%;height: 3px;display: block;background-color: #0b5f95;position: absolute;left: 0;bottom: 0;}
header #gnb .g_l > li > a {
	display:inline-block;
	box-sizing:border-box;
	width:auto;
	height:100px;
	padding:0 20px;
	font-size:20px;
	text-align:center;
	line-height: 107px;
	position: relative;
	font-weight: 500;
}
header #gnb .g_l > li a#GNB_common,header #gnb .g_l > li a#GNB_search{display: none;}
header #gnb .g_l > li:last-child > a{}
header #gnb .g_l > li > a:hover {color:#005aab;}
header #gnb .g_l > li > ul {
	display: none;
	position:absolute;
	top:100px;
	left: 0;
	padding:40px 0;
	box-sizing:border-box;
	width:100%;
	z-index:10;
}
header #gnb .g_l > li:hover > ul{display: block;}
header #gnb .g_l > li > ul > li {
	float: left;
	padding:0 10px;
	box-sizing:border-box;
}
header #gnb .g_l > li > ul > li > a {
	display:inline-block;
	padding:5px 10px;
	box-sizing:border-box;
	width:100%;
	font-size:17px;
	z-index:10;
	line-height: 2;
}
header #gnb .g_l > li > ul > li.first{min-width: 270px;text-align: center;margin-right: 30px;display: inline-block;}
header #gnb .g_l > li > ul > li.first h3{font-size: 30px;font-weight: 500;}
header #gnb .g_l > li > ul > li > a:hover {font-weight: 500; background-color:#e7e7e7;}
header .gnbBG {
	display:none;
	position:absolute;
	top:140px;
	width:100%;
	border-top:1px solid #e2e2e2;
	border-bottom:3px solid #005aab;
	background:#fff !important;
	z-index:5;
	height: 100%;
}
header .stmapBG {
	display:none;
	position:absolute;
	top:140px;
	width:100%;
	border-top:1px solid #e2e2e2;
	border-bottom:8px solid #44950f;
	background:#202622 !important;
	z-index:5;
	height: 100%;
}

header #gnb .allmenu{width: 26px;height: 45px;padding: 10px 0;background-color: transparent;overflow: hidden;position: absolute;right: 0;top: 30px;}
header #gnb .allmenu span.bar{display: block;width: 100%;height: 3px;margin-top: 5px;background-color: #005aab;border-radius: 1px;transition:all 0.6s;-webkit-transition:all 0.6s;transform: translate(0,0);-webkit-transform: translate(0,0);backface-visibility: hidden;-webkit-backface-visibility: hidden;float: right;}
header #gnb .allmenu span.bar.bar1{margin-top: 0;}
header #gnb .allmenu span.bar2{width: 100%;}
header #gnb .allmenu:hover span.bar2{width: 75%;}

header #gnb .close span.bar.bar1{ -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;}
header #gnb .close span.bar2{opacity: 0;}
header #gnb .close span.bar3{-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-5px, -7px) ;}
 */
header .stmap {
	position: relative;
	left: 0;
	top: 0;
	z-index: 10;
	width: 1200px;
	padding: 25px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

header .stmap ul.st_g_l>li {
	float: left;
	width: 33.33%;
	position: relative;
	text-align: left;
	padding: 0 40px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header .stmap ul.st_g_l>li>a {
	display: inline-block;
	box-sizing: border-box;
	font-size: 25px;
	font-weight: 400;
	text-align: left;
	line-height: 2;
	position: relative;
	text-indent: 10px;
	width: 100%;
	background: url(../../templete_common/img/common/stmaparrow.png) right
		center no-repeat;
	color: #e5e5e5;
}

header .stmap ul.st_g_l>li>a:hover, header .stmap ul.st_g_l>li.on>a {
	color: #c9e704;
	background-image:
		url(../../templete_common/img/common/stmaparrow_on.png)
}

header .stmap ul.st_g_l>li>a:after {
	content: '';
	width: 100%;
	height: 2px;
	display: block;
	background-color: #161616;
	position: absolute;
	bottom: 0;
}

header .stmap ul.st_g_l>li>a:hover:after, header .stmap ul.st_g_l>li.on>a:after
	{
	background-color: #deff00;
}

header .stmap ul.st_g_l>li>ul {
	margin-top: 8px;
}

header .stmap ul.st_g_l>li>ul>li {
	padding: 3px 0;
}

header .stmap ul.st_g_l>li>ul>li>a {
	display: inline-block;
	padding: 3px 10px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	z-index: 10;
	color: #e5e5e5;
}

header .stmap ul.st_g_l>li>ul>li>a:hover {
	background-color: #44950f;
	color: #000;
}

header .stmap ul.st_g_l>li>ul>li>ul.dp3 {
	display: none;
}

header .gnbBG .innering {
	margin: 0 auto;
	width: 1200px;
}

header .stmapBG .innering {
	margin: 0 auto;
	width: 1200px;
}

header div.gnbic {
	position: absolute;
	right: 57px;
	top: 20px;
	display: none;
}

header div.gnbic ul {
	overflow: hidden;
}

header div.gnbic ul li {
	float: left;
	width: 26px;
	height: 26px;
	margin-left: 15px;
}

header div.gnbic ul li a {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
}

header .mypage {
	display: none;
}

header #gnb .g_l.mp {
	display: none;
}

@media screen and (max-width: 1220px) {

	header .h_b {
		border-bottom: none;
		height: 100%;
	}
	header h1 {
		position: absolute;
		z-index: 2;
		left: 10px;
		top: 10px;
		width: 190px;
	}
	header h1 a img {
		max-height: 45px;
	}
	header .u_m {
		display: none;
	}
	header button.gnbOpen {
		position: absolute;
		display: block;
		right: 10px;
		top: 14px;
		width: 30px;
		height: 38px;
		background: rgba(255, 255, 255, 0);
		transition: right ease 0.3s;
		-webkit-transition: right ease 0.3s;
		-moz-transition: right ease 0.3s;
	}
	body.gnbOpen header button.gnbOpen {
		right: 10px;
		z-index: 20;
	}
	header button.gnbOpen .line {
		position: absolute;
		display: block;
		left: 50%;
		width: 28px;
		height: 4px;
		margin-left: -14px;
		background-color: #085fae;
		transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		-moz-transition: all ease 0.3s
	}
	header button.gnbOpen .line.l1 {
		top: 8px;
	}
	header button.gnbOpen .line.l2 {
		top: 50%;
		margin-top: -2px;
	}
	header button.gnbOpen .line.l3 {
		bottom: 8px;
	}
	header button.gnbOpen .line.l4 {
		top: 50%;
		margin-top: -2px;
	}
	header div.gnbic {
		display: block;
	}
	header .g_w {
		width: 100%;
		height: auto !important;
		background: none;
	}
	body.gnbOpen header #gnb {
		right: 0;
	}
	body.gnbOpen header #gnb.mobile {
		display: block;
		background-color: #141414;
	}
	header #gnb.mobile .g_l {
		float: none;
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
	}
	header #gnb.mobile .g_l>li.first {
		font-size: 22px;
		font-weight: bold;
		background-color: #044988;
		background-image: none;
		padding: 16px 25px;
		text-align: left;
	}
	header #gnb.mobile .g_l>li.first.on {
		background-image: none;
	}
	header #gnb.mobile .g_l>li {
		display: block;
		float: none;
		padding: 0;
		color: #fff;
		overflow: hidden;
		background: url(../img/common/gnbmobile_ic_p.png) 240px center no-repeat;
		-webkit-background-size: 15px;
		background-size: 15px;
	}
	header #gnb.mobile .g_l>li a:after {
		display: none
	}
	header #gnb.mobile .g_l>li:hover>a:after {
		display: none;
	}
	header #gnb.mobile .g_l>li>a {
		display: block;
		width: 100%;
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		padding: 15px 25px;
		text-align: left;
		line-height: 1em;
		height: auto
	}
	header #gnb.mobile .g_l>li.on {
		background: #085fae url(../img/common/gnbmobile_ic_on.png) 240px center
			no-repeat;
		-webkit-background-size: 15px;
		background-size: 15px;
	}
	header #gnb.mobile .g_l>li.on>a {
		text-decoration: underline;
		background-color: #085fae;
	}
	header #gnb.mobile .g_l>li>ul.dp2 {
		position: static;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		z-index: 10;
		display: none;
	}
	header #gnb.mobile .g_l>li.on>ul {
		background-color: #222121;
		display: block;
		padding: 10px 0;
	}
	header #gnb.mobile .g_l>li>ul>li {
		float: none;
		width: 100%;
		padding: 0 20px;
		color: #fff;
		text-align: left;
		background-color: #222121;
	}
	header #gnb.mobile .g_l>li>ul>li a {
		background: #222121 url(../img/common/gnbmobile_ic_dp2.png) 10px 13px
			no-repeat;
		-webkit-background-size: 7px;
		background-size: 7px;
	}
	header #gnb.mobile .g_l>li>ul>li>a {
		display: block;
		padding: 5px 25px;
		font-size: 13px;
		color: #fff;
	}
	header #gnb.mobile .g_l>li>ul>li:hover a {
		background-color: #222121;
	}
	header #gnb.mobile .g_l>li>ul>li.first {
		display: none;
	}
	header #gnb.mobile .g_l>li>ul>li>ul>li a {
		display: block;
		padding: 5px 25px;
		font-size: 13px;
		color: #fff;
		background: none;
	}
	header #gnb.mobile .g_l>li>ul>li>ul>li a:before {
		content: '- ';
	}
	header #gnb.mobile .g_l>li>ul>li>ul>li a:hover {
		text-decoration: underline;
	}

	/* 2017/08/23 추가 */
	header #gnb.mobile .g_l .lnb_l {
		position: static;
		top: 0;
		padding: 0;
	}
	body.gnbOpen header button.gnbOpen .line.l1 {
		opacity: 0;
	}
	body.gnbOpen header button.gnbOpen .line.l2 {
		width: 36px;
		margin-left: -18px;
		background-color: #fff;
		transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
	}
	body.gnbOpen header button.gnbOpen .line.l3 {
		opacity: 0;
	}
	body.gnbOpen header button.gnbOpen .line.l4 {
		width: 36px;
		margin-left: -18px;
		background-color: #fff;
		transform: rotateZ(-45deg);
		-webkit-transform: rotateZ(-45deg);
		-moz-transform: rotateZ(-45deg);
	}
	header.menuType2 {
		background-image: none
	}
	header #gnb.mobile .g_l>li>ul>li.first {
		display: none;
	}
	header #gnb.mobile .allmenu {
		display: none;
	}
	header .stmap {
		display: none;
	}
	header .mypage {
		background-color: #085fae;
	}
	header .mypage ul li {
		width: 100%;
	}
	header .mypage ul li a {
		display: block;
		font-size: 13px;
		color: #fff;
		padding: 10px 0;
		text-align: center;
	}
	header .mypage {
		display: block;
	}
	header #gnb .g_l.mp {
		display: block;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
	header h1 {
		width: 160px;
		top: 13px;
	}
}

@media screen and (max-width: 320px) {
}

/*footer*/

/*footer{position: relative;background: url(../img/common/ft_bg.png) center center/cover no-repeat;}
footer .f_w{position:relative;max-width:1200px;margin: auto;overflow: hidden;}
footer .f_l ul{overflow: hidden;height: 51px;line-height: 51px;}
footer .f_l ul.l li{float: left;margin-right: 20px;display: inline-block;position: relative;}
footer .f_l ul.l li:after{display: block;content: '';width: 1px;height: 14px;background-color: #bbbbbb;position: absolute;right: -20px;top: 17px;}
footer .f_l ul.l li:nth-child(3):after{display: none;}
footer .f_l ul.l li a{font-size: 14px;padding-left: 20px;}
footer .f_l ul li a:hover{text-decoration: underline;}
footer .info{padding: 37px 0 70px;position: relative;}
footer .info p{padding-left: 250px;text-align: left;font-size: 13px;line-height: 1.5;color: #d4d4d4;padding-right:400px}
footer .info p.logo{padding-left: 0;position:absolute;left:0;top:25px;}
footer .info p.copyright{padding-left: 0;position: absolute;left: 0;top: 95px;color: #bfbfbf;}
footer .email, footer .qrcode{display: none;}

footer .fam{position: absolute;top: 96px;right: 0;z-index: 10;}
footer .fam .r_o, footer .fam .r_s{display: inline-block;width: auto;height: 26px;position: relative;}
footer .fam a#sel_btn{display: inline-block;width: 300px;margin: 0;background: #222 url(../img/common/ic_arrow.png) 260px 15px no-repeat; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 12px 15px;text-align: left;text-indent: 10px;font-size: 14px;color: #fff;}
footer .fam span.options{position: absolute;left: 0;width: auto;top: -64px;height: auto;padding: 5px 15px;background-color: #fff;display: none;width: 300px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
footer .fam span.options.on{display: block;}
footer .fam span.options a.option{display: block;padding: 7px 0 5px 11px;text-align: left;}


@media screen and (max-width: 1000px){
	footer > .f_w{padding:25px 20px;}
	footer .fam{display: none;}
}

@media screen and (max-width: 768px){
	footer .f_l ul{padding-top: 10px;}
	footer .f_l ul.l li:last-child{margin-right: 0;}
	footer .f_l ul.l li a{font-size: 13px;}
	footer .info p{padding-left: 0;text-align:center;padding-right: 0;}
	footer .info p.logo{width: 100%;text-align: center;}
	footer .info p.logo img{width: 180px;}
	footer .info address{padding-top: 45px;}
	footer .info ul{width: 212px;margin: auto;}
	footer .info ul li:last-child{margin-right: 0;}
	footer .info p.copyright{width: 100%;text-align: center;top: 135px;padding: 0 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
}

@media screen and (max-width: 480px){

}*/
p.bottom {
	position: fixed;
	bottom: 155px;
	right: 10px;
}

p.bottom a {
	display: block;
	width: 41px;
	height: 40px;
	font-size: 13px;
	text-align: center;
	color: #fff;
	line-height: 4.5;
	font-weight: 500;
	background: #000 url(../img/sub/subtoparrow.png) center 5px no-repeat;
}

footer {
	clear: both;
	margin-top: 100px;
}

footer .f_w {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 38px 0px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

footer ul.l {
	display: none;
}

footer .logo {
	position: absolute;
	left: 0;
	top: 44px;
	padding-right: 30px;
	display: none;
}

footer .logo:after {
	position: absolute;
	right: 0;
	top: 50%;
	width: 1px;
	height: 60px;
	margin-top: -30px;
	background-color: #717373;
	content: '';
}

footer .info p {
	margin-top: 3px;
	color: #fff;
	font-size: 13px;
	line-height: 1.5;
}

footer .info p:first-child {
	margin-top: 0;
}

footer .fam {
	display: none;
}

@media screen and (max-width: 1024px) {
	footer {
		border-top: 1px solid #ddd;
	}
	footer .info p:first-child {
		width: 56%;
		margin: auto;
	}
	footer>.f_w {
		padding: 25px 20px;
	}
	footer .logo {
		display: none;
	}
	footer .info p {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	footer .f_w {
		padding: 20px 10px;
	}
	footer .info p {
		color: #595959 !important;
	}
	footer .info p:first-child {
		width: 75%;
	}
}

@media screen and (max-width: 480px) {
	footer .info p:first-child {
		width: 280px;
	}
}

#container.sub+#banner {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#container.sub+#banner>.b_w {
	border-top: none;
	border-bottom: none;
}

#container.sub+#banner+footer {
	background-color: #fff;
}

#container.sub+#banner+footer .info p {
	color: #767676;
}
/*banner*/
#banner>.b_w {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	background-color: #fff;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#banner .control {
	float: left;
	margin-right: 29px;
	padding: 11px 0;
}

#banner ul.c_l>li {
	overflow: hidden;
	float: left;
	margin: 0 0 4px 2px;
}

#banner ul.c_l>li:first-child {
	margin-left: 0;
}

#banner ul.c_l>li.last {
	float: none;
	clear: both;
	margin: 0;
}

#banner ul.c_l button.bt {
	border: 1px solid #bebebe;
}

#banner ul.c_l a.bt {
	display: block;
	border: 1px solid #bebebe;
}

#banner ul.c_l button.bt.t1 {
	width: 18px;
	height: 18px;
	background: #fff url('../img/common/slide_prev.png') center center
		no-repeat;
}

#banner ul.c_l button.bt.t2 {
	width: 18px;
	height: 18px;
	background: #fff url('../img/common/slide_stop.png') center center
		no-repeat;
}

#banner ul.c_l button.bt.t3 {
	width: 18px;
	height: 18px;
	background: #fff url('../img/common/slide_next.png') center center
		no-repeat;
}

#banner ul.c_l a.bt.t4 {
	height: 18px;
	background: #fff url('../img/common/slide_all.png') center center
		no-repeat;
}

#banner .b_l {
	overflow: hidden;
	width: auto !important;
}

#banner .owl-carousel .owl-item img {
	max-height: 45px;
}

@media screen and (max-width: 1024px) {
	#banner {
		display: none;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

footer.qr .f_w {
	text-align: left;
}

footer .qrcode {
	position: absolute;
	top: 10px;
	right: 0px;
}

footer .qrcode img {
	width: 100px;
	height: 100px;
}
/* 2017/02/06 추가 */

/* 2017/07/26 추가 */
.midBtn.btncms2 {
	background-color: #2171a6 !important;
	color: #fff;
}

/* 2021/11/15 추가 */

/*font*/
/* font */
@font-face {
	font-family: 'NotoSansKR';
	font-weight: 400;
	src: url(../font/NotoSansKR-Light.eot);
	src: url(../font/NotoSansKR-Light.eot?#iefix)
		format('embedded-opentype'), url(../font/NotoSansKR-Light.woff)
		format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansKR';
	font-weight: 500;
	src: url(../font/NotoSansKR-Regular.eot);
	src: url(../font/NotoSansKR-Regular.eot?#iefix)
		format('embedded-opentype'), url(../font/NotoSansKR-Regular.woff)
		format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansKR';
	font-weight: 700;
	src: url(../font/NotoSansKR-Medium.eot);
	src: url(../font/NotoSansKR-Medium.eot?#iefix)
		format('embedded-opentype'), url(../font/NotoSansKR-Medium.woff)
		format('woff'), url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSansKR';
	font-weight: 900;
	src: url(../font/NotoSans-Bold.eot);
	src: url(../font/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
		url(../font/NotoSans-Bold.woff) format('woff'),
		url(../font/NotoSans-Bold.otf) format('opentype');
}

/* reset */

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	textarea, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, button, input, select, table, textarea {
	font-family: 'NotoSansKR', Arial, sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #000;
	line-height: 1.3;
	letter-spacing: -0.04em
}

html {
	height: 100%
}

body {
	height: 100%;
	-webkit-text-size-adjust: none
}

button, fieldset, img {
	border: 0 none
}

fieldset, img {
	border: 0
}

img, li {
	vertical-align: top
}

ol, ul, dl, menu, li {
	list-style: none
}

address, em {
	font-style: normal
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:active, a:focus, a:hover {
	text-decoration: none;
}

button {
	border: 0;
	background: 0 0;
	cursor: pointer
}

table {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

input, select, textarea, button {
	vertical-align: top
}

/* input, select, textarea {
	box-shadow: none; border : 0;
	background: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	border: 0;
} */
input, select, textarea {
	border:0;
	background:0;
	-o-appearance:none;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none
}

select::-ms-expand {
	display: none
}

textarea {
	resize: none;
	box-shadow: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

embed, iframe, img, object, video {
	max-width: 100%
}

input[type=search]::-ms-clear, input[type=search]::-ms-reveal, input[type=text]::-ms-clear,
	input[type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0
}

input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none
}

input[type='text'], input[type='password'], input[type='submit'], input[type='search']
	{
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent
}

button, input[type='button'], input[type='submit'], input[type='reset'],
	input[type='file'] {
	-webkit-appearance: button;
	border-radius: 0
}

*, *:before, *:after {
	box-sizing: border-box;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}

caption, legend {
	position: static;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	word-break: initial;
	word-wrap: initial;
}

.blind {
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	word-break: normal;
	word-wrap: normal;
}

.clear {
	*zoom: 1;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:active, a:focus, a:hover {
	text-decoration: none;
}

embed, iframe, img, object, video {
	max-width: 100%;
}

i {
	font-style: normal;
}
/* 입력서식 */
input, button, label, textarea, select {
	vertical-align: middle;
}

input[type=text], input[type=password], input[type=number], input[type=tel],
	input[type=email], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text][disabled], input[type=password][disabled], input[type=number][disabled],
	input[type=tel][disabled], input[type=email][disabled], textarea[disabled]
	{
	background: transparent;
}

input[type=text][readonly=readonly], input[type=password][readonly=readonly],
	input[type=number][readonly=readonly], input[type=tel][readonly=readonly],
	input[type=email][readonly=readonly] {
	background: transparent;
}

.select {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

.select option {
	font-size: 16px;
}

textarea {
	width: 100%;
	min-height: 60px;
	resize: none;
}

select[style], input[style], input[size] {
	width: auto;
	min-width: 0;
}

button, input[type=submit] {
	border: 0;
	padding: 0;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type=file] {
	margin: auto;
	height: 30px;
}

input::-webkit-input-placeholder {
	font-size: 1em;
}

input:-moz-placeholder {
	font-size: 1em;
} /* Firefox 4-18 */
input::-moz-placeholder {
	font-size: 1em;
} /* Firefox 19+ */
input:-ms-input-placeholder {
	font-size: 1em;
} /* IE10+ */
input[type=text]::-ms-clear {
	display: none;
}

.thide {
	display: none !important;
}
/*checkbox*/
.chkecboxWrap {
	display: inline-block;
	position: relative;
	padding-left: 17px;
	min-height: 17px;
	line-height: 0;
	box-sizing: border-box;
}

.chkecboxWrap input[type="checkbox"] {
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.chkecboxWrap input[type="checkbox"]+label:before {
	display: inline-block;
	content: "";
	width: 28px;
	height: 28px;
	background: url(../img/bg_checkbox.png) no-repeat 0 0;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 6px;
}

.chkecboxWrap input[type="checkbox"]:checked+label:before {
	background-position: 0 100%;
}

.chkecboxWrap label {
	padding-left: 8px;
	font-size: 18px;
	line-height: 17px;
	color: #222;
}

.chkecboxWrap input:disabled {
	background-position: 0 0;
}

.chkecboxWrap input:disabled+label {
	color: #bbb;
}
/*radio*/
.radioWrap {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	line-height: 25px;
}

.radioWrap input[type="radio"] {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: url(../img/bg_radio.png) no-repeat 0 0;
	background-size: 25px auto;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
}

.radioWrap input[type="radio"]:checked {
	background-position: 0 100%;
}

.radioWrap label {
	display: inline-block;
	line-height: 18px;
	color: #222;
	vertical-align: 0;
}

.radioWrap input:disabled {
	background-position: 0 0;
}

.radioWrap input:disabled+label {
	color: #222;
}

/* Clear */
.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

/* pc, mobile */
.m {
	display: none
}

@media screen and (max-width:768px) {
	.pc {
		display: none
	}
	.m {
		display: block
	}
}

@media screen and (max-width:767px) {
	html {
		font-size: 10px;
		font-size: 0.625rem;
		-webkit-text-size-adjust: none;
	}
	body, html {
		height: 100%
	}
	body, button, input, select, table, textarea {
		font-size: 1.5rem
	}
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
	{ /* WebKit browsers */
	color: transparent;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
	{ /* Internet Explorer 10+ */
	color: transparent;
}

/* ============================== reset.css ============================== */

/* 탭메뉴 select */
ul.tab-button {
	padding: 0;
	list-style: none;
	width: 100%;
	font-size: 12px;
	border-bottom: 2px solid #000;
}

ul.tab-button li.active {
	background: #0066b3;
	color: #fff !important;
	border: 1px solid #0066b3;
	box-sizing: border-box;
	border-bottom: 0;
}

ul.tab-button li {
	float: left;
	text-align: center;
	cursor: pointer;
	min-width: 25%;
	padding: 0 20px;
	height: 65px;
	line-height: 65px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	font-size: 25px;
	border: 1px solid #cfcfcf;
	border-bottom: 0;
}

ul.tab-button.type_wn-flex {
	display: flex;
}

ul.tab-button.type_wn-flex li {
	flex: 1;
	min-width: auto;
	padding: 0 10px;
}

.tab-select-outer #tab-select {
	width: 100%;
	background-color: #0066b3;
	color: #fff;
	font-size: 18px;
	padding: 12.5px 25px;
	background: url(../img/white_arrow.png) no-repeat #0066b3 right 25px
		center;
}

.tab-select-outer #tab-select option {
	background: #fff;
	color: #000;
}

.tab-select-outer #tab-select-02 {
	width: 100%;
	background-color: #0066b3;
	color: #fff;
	font-size: 18px;
	padding: 12.5px 25px;
	background: url(../img/white_arrow.png) no-repeat #0066b3 right 25px
		center;
}

.tab-select-outer #tab-select-02 option {
	background: #fff;
	color: #000;
}

.tab-select-outer {
	display: none;
}

@media screen and (max-width:1240px) {
	ul.tab-button.type_wn-flex li {
		font-size: 21px;
	}
}

@media screen and (max-width:1024px) {
	ul.tab-button.type_wn-flex li {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	.tab-button-outer {
		display: none;
	}
	.tab-select-outer {
		display: block;
		padding-top: 20px;
	}
	.tab-select-outer.type02 {
		padding-top: 0;
	}
}

.tab_bar li button {
	width: 100%;
	height: auto;
}

.btn-by_white {
	border: 1px solid #0b3c81;
	color: #0b3c81;
	background: #fff;
	min-width: 210px;
	line-height: 40px;
	font-size: 18px;
}

.btn-by_Indigo {
	border: 1px solid #202f42;
	color: #202f42;
	min-width: 136px;
	line-height: 40px;
	font-size: 18px;
}

.btn-by_Indigo:hover {
	background: #202f42;
	color: #fff;
}
/* btn 모음 */

/* // 더보기 버튼 */
.page_group {
	display: block;
	text-align: center;
	border: 1px solid #c1c1c1;
	border-radius: 35px;
	max-width: 180px;
	margin: 30px auto;
	line-height: 51px;
}

.page_group span {
	font-size: 24px;
	color: #000;
	font-weight: 500;
}

.page_group::after {
	content: '';
	display: inline-block;
	background: url(../img/page_group.png) no-repeat;
	background-size: 16px auto;
	width: 18px;
	height: 18px;
	position: relative;
	left: 5px;
}

.page_group.type02::after {
	background: url(../img/page_group02.png) no-repeat;
}

.page_group:hover::after {
	background-position: 0 100%;
}

.page_group:hover {
	border-color: #0988b7;
}

.page_group:hover span {
	color: #0988b7;
}

@media screen and (max-width:1025px) {
	.page_group span {
		font-size: 22px;
	}
	.page_group {
		max-width: 164px;
		line-height: 48px;
	}
}

@media screen and (max-width:768px) {
	.page_group span {
		font-size: 18px;
	}
	.page_group {
		line-height: 40px;
	}
	.page_group::after {
		background-size: 14px auto;
		width: 14px;
		height: 16px;
		top: 1px;
	}
	.page_group.type02::after {
		width: 18px;
		height: 18px;
		top: 2px;
	}
}
/* 더보기 버튼 // */

/* // 목록 버튼 */
.list_group {
	display: block;
	text-align: center;
	border: 1px solid #c1c1c1;
	border-radius: 35px;
	max-width: 205px;
	margin: 50px auto;
	line-height: 63px;
}

.list_group span {
	font-size: 24px;
	color: #000;
	font-weight: 600;
}

.list_group::after {
	content: '';
	display: inline-block;
	background: url(../img/list_group.png) no-repeat;
	background-size: 16px auto;
	width: 16px;
	height: 19px;
	position: relative;
	left: 5px;
	top: 1px;
}

.list_group:hover::after {
	background-position: 0 100%;
}

.list_group:hover {
	border-color: #0988b7;
}

.list_group:hover span {
	color: #0988b7;
}

@media screen and (max-width:1025px) {
	.list_group span {
		font-size: 22px;
	}
	.list_group {
		max-width: 176px;
		line-height: 48px;
	}
}

@media screen and (max-width:768px) {
	.list_group span {
		font-size: 18px;
	}
	.list_group {
		line-height: 49px;
		height: 51px;
		max-width: 164px;
	}
	.list_group::after {
		background: url(../img/m_list_group.png) no-repeat;
		background-size: 16px auto;
		width: 16px;
		height: 15px;
	}
}
/* 목록 버튼 // */

/* // btn white / blue */
.btn_by-white {
	border: 1px solid #c1c1c1;
	min-width: 300px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	color: #000000;
	padding: 0 18px;
}

.btn_by-white:hover {
	border-color: #0988b7;
	color: #0988b7 !important;
}

.btn_bn-blue {
	color: #fff;
	background: #11428f;
	border: 1px solid #11428f;
	min-width: 300px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	padding: 0 18px;
}

.btn_bn-blue:hover {
	color: #11428f;
	background: #fff;
	border: 1px solid #11428f;
}

.btn_bn-gray {
	background: #757575;
	color: #fff;
	border-radius: 10px;
}

.btn_bn-gray:hover {
	background: #424242;
}

.btb_bn-gray {
	color: #11428f;
	border: 1px solid #11428f;
	min-width: 300px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	padding: 0 18px;
}

.btb_bn-gray:hover {
	color: #000;
	border-color: #c1c1c1;
}

.btb_bn-gray-lt {
	background: #909090;
	color: #fff;
}

.btb_bn-gray-lt:hover {
	background: #424242;
}

.btn_bn-green {
	background: #00acc2;
	border: 1px solid #00acc2;
	color: #fff;
	min-width: 300px;
	line-height: 50px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	padding: 0 15px;
}

.btn_bn-green:hover {
	background: #fff;
	border: 1px solid #00acc2;
	color: #00acc2;
}

.btn_by-gray {
	border: 1px solid #989898;
	border-radius: 10px;
	color: #010101;
	font-weight: 600;
}

.btn_by-gray:hover {
	border-color: #11428f;
	color: #11428f;
}

@media screen and (max-width:768px) {
	.btn_by-white, .btn_bn-blue, .btn_bn-green {
		min-width: 100%;
		line-height: 38px;
		font-size: 16px;
	}
	.page_group {
		line-height: 48px;
	}
	.layerPopup .layerWrap .btnWrap button.full-btn {
		width: 100%;
	}
}

@media ( prefers-color-scheme : dark) {
	.btn_by-white {
		color: #bbb;
	}
	.page_group span {
		color: #bbb;
	}
}

/* // btn white / blue */
.btn_by-white {
	font-weight: 600;
	color: #000000;
	padding: 0 18px;
}

.btn_by-white:hover {
	border-color: #0988b7;
	color: #0988b7 !important;
}

.btn_bn-blue:hover {
	color: #11428f;
	background: #fff;
	border: 1px solid #11428f;
}

.btb_bn-gray-lt {
	background: #909090;
	color: #fff;
}

.btb_bn-gray-lt:hover {
	background: #424242;
}

.btn_bn-green {
	background: #00acc2;
	border: 1px solid #00acc2;
	color: #fff;
	line-height: 50px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	padding: 0 15px;
}

.btn_bn-green:hover {
	background: #fff;
	border: 1px solid #00acc2;
	color: #00acc2;
}

/* 팝업 */
/* // 팝업창 */
.modal {
	overflow: hidden;
}

.deemed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

/*layer*/
.layerPopup {
	/* display: none; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1010;
	width: 100%;
	height: 100vh;
}

.layerPopup .layerWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	min-width: 626px;
	max-width: 626px;
	background: #fff;
	color: #000;
}

.layerPopup .layerWrap .tit_wrap {
	border-bottom: 1px solid #e0e0e0;
	padding: 40px;
}

.layerPopup .layerWrap .tit_wrap .tit {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: -0.05em;
}

.layerPopup .agree_txt {
	font-size: 24px;
	font-weight: bold;
}

.layerPopup .layerWrap .con_Wrap {
	padding: 47px 40px 0;
}

.layerPopup .layerWrap .alertCont p {
	font-size: 22px;
	line-height: 30px;
}

.layerPopup .layerWrap .alertCont .tx-blue {
	color: #3768ac;
}

.layerPopup .layerWrap .btnWrap {
	text-align: center;
	font-size: 0;
	margin-top: 40px;
}

.layerPopup .layerWrap .btnWrap button {
	width: calc(( 100% - 8px)/2);
	line-height: 48px;
	font-size: 20px;
	border-radius: 10px;
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: auto;
}

.layerPopup .layerWrap .btnWrap button.btn_full {
	width: 100%;
	max-width: none;
	min-width: auto;
}

.layerPopup .layerWrap .btnWrap button:not(:first-of-type) {
	margin-left: 8px;
}

.layerPopup .layerWrap .btnWrap .btn_pop-white {
	border: 1px solid #0b3c81;
	color: #0b3c81;
}

.layerPopup .layerWrap .btnWrap .btn_pop-white:hover {
	border: 1px solid #c1c1c1;
	color: #000000;
}

.layerPopup .layerWrap .btnWrap .btn_pop-blue {
	color: #fff;
	background: #11428f;
	border: 1px solid #11428f;
}

.layerPopup .layerWrap .pop-txt_rd {
	color: #fb5851;
}

@media screen and (max-width:768px) {
	.layerPopup.type_tckRelay_03.password_pop .layerWrap {
		border-radius: 0px;
		min-width: 380px;
	}
	.layerPopup .layerWrap {
		max-width: 95%;
		min-width: 300px;
		border-radius: 30px;
	}
	.layerPopup .layerWrap .tit_wrap {
		padding: 20px;
	}
	.layerPopup .layerWrap .tit_wrap .tit {
		font-size: 18px;
	}
	.layerPopup .agree_txt {
		font-size: 18px;
	}
	.layerPopup .layerWrap .alertCont p {
		font-size: 14px;
		line-height: 22px;
	}
	.layerPopup .layerWrap .con_Wrap {
		padding: 25px 20px;
	}
	.layerPopup .layerWrap .btnWrap {
		margin-top: 30px;
	}
	.layerPopup .layerWrap .btnWrap button {
		font-size: 15px;
		line-height: 44px;
	}
}

@media screen and (max-width: 420px) {
	.layerPopup.type_tckRelay_03.password_pop .layerWrap {
		min-width: 100%;
	}
}


.input_check {
	appearance : auto;
}

.select_box100 {
	appearance : auto;
	width : 43%;
	height : 35px !important;
	background : white;
	border : 1px solid gray;
}

form div input.searchTxt {
	border : 1px solid gray;
	background : white;
}

.select_box50 {
	appearance : auto;
	width : 15px;
	height : 15px !important;
	background : white;
	border : 1px solid gray;
}
