@charset "utf-8";

/* 건너뛰기링크 */
#accessibility {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
}
#accessibility a {
	display: block;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#accessibility a:focus, #accessibility a:active {
	width: 100%;
	height: auto;
	padding: 7px 0;
	background-color: #000;
}

/* header renewal */
header {
    display: flex;
    position: relative;
    border-bottom: 1px solid #888;
    font-family: 'NanumSquareAc';
    color: #222;
    align-items: center;
}
header h1 {
    position: static;
    margin: 0 50px;
}
    /* nav gnb 메뉴 */
.nav {
    width: calc(100% - 725px);
    margin: 0 auto;
    padding: 0;
}
.nav .gnb_layout,
.nav .gnb_layout ul {
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start;
}
.nav .gnb_layout {
    height: 110px;    
    justify-content: center;
}
.nav .gnb_layout::before {
    content: '';
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
    background-color: white;
}
.nav .gnb_layout:hover::before,
.nav .gnb_layout:focus::before { 
    visibility:visible;
    height: 90px; 
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); 
    opacity: 1;
}
.nav .gnb_layout > li > a {
    height: 110px;
    padding: 0 40px;
    font-size: 1.25rem;
    line-height: 110px;
}
.nav > .gnb_layout ul { 
    visibility: hidden;
    position: absolute; 
    top: 100%;
    z-index:10 ;
    width: -webkit-max-content;
    width: -moz-max-content; 
    width: max-content; 
    padding: 34px 32px;
    transform: translateX(-20%); 
    opacity: 0;
}
.nav .gnb_layout > li:hover > ul,
.nav .gnb_layout > li:focus > ul { 
    visibility:visible;
    opacity:1;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.nav .gnb_layout ul a {
    padding: 10px 15px;
}
.nav > .gnb_layout ul > li + li {
    margin-left: 10px;
}
    /* 메뉴 공통 호버 설정 */
.nav,
.gnb_layout > li > a::after,
.gnb_layout > li > ul				{
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.gnb_layout > li > a {
    display: block;
    position: relative;    
    font-weight: 700;
    font-family: 'NanumSquare';
} 
.gnb_layout > li > a:hover,
.gnb_layout > li:hover > a,
.gnb_layout > li > a:focus,
.gnb_layout > li.current > a {
    color: #0061ce;
    transition: all 0.2s ease-in-out;
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li:hover > a::after,
.gnb_layout > li > a:focus::after,
.gnb_layout > li.current > a::after {
    content:''; 
    display: block; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 3px;
    background-color: #0061ce;
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li > a::after {
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: bottom center;
}
.gnb_layout > li:hover > a::after,
.gnb_layout > li:focus > a::after {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: bottom center;
}
.gnb_layout ul > li a {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'NanumSquareAc';
}
.gnb_layout > li > ul > li > a:hover,
.gnb_layout > li > ul > li > a:focus,
.gnb_layout > li > ul > li.current > a {
    color: #0060ce;
    transition: all 0.2s ease-in-out;
}

    /* right btns */
header > .btn_wrap {
    display: flex;
    width: 365px;
    margin-left: auto;
    align-items: center;
}
header > .btn_wrap > a {
    padding: 1rem 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    font-family: 'NanumSquareAc';
    color: #333;
}
header .btn_wrap > button {
    overflow: hidden;
    position: relative;
    width: 90px;
    height: 110px;    
    text-indent: -9999px;
}
header .btn_wrap > button.bg_blue {
    width: 110px;
    height: 110px;
    background: #0060ce;
    color: #fff;
}
    /* 전체 메뉴 */
.all_menu {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: #f4f4f4 url(../img/all_menu_bg.png) repeat-x bottom 80px right;
}
.all_menu .btn_wrap {
    position: absolute;
    top: 0;
    right: 0;
}
.all_menu h2 {
    position: relative;    
    height: 112px;
    margin: 55px 370px 35px 0;
    background: url(../img/all_menu_top.png) repeat-x;
    background-position: right top;
}
.all_menu h2::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50px;
    right: -50px;
    width: 103px;
    height: 63px;
    background: url(../img/all_menu_toptxt.png) no-repeat;
}
.all_menu .gnb_layout {
    display: grid;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.all_menu .gnb_layout > li > a {
    display: inline-block;
    padding: 10px 0 20px;
    font-size: 1.125rem;
}
.all_menu .gnb_layout li > ul {
    margin-top: 20px;
}
.all_menu .gnb_layout li > ul > li > a {
    display: block;
    padding: 5px 0;
    font-size: .938rem;
    font-weight: 400;
}
.all_menu .gnb_layout > li:last-child {
    padding-top: 57px;
}
.all_menu .gnb_layout > li:last-child a::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 12px;
    border-radius: 10px;
    background: currentColor;
    vertical-align: middle;
}



/* ---------- respond ---------- */

@media screen and (max-width: 1600px) {
    header h1 {
        margin: 0 35px;
    }
    header h1 a {
        display: block;
        width: 143px;
        height: 73px;
        background: url(../img/logo_small.png) no-repeat;
    }
    header h1 a > img {
        display: none;
    }
    .nav > ul > li > a {
        padding: 0 20px;
    }
}