@charset "utf-8";

/* 건너뛰기링크 */
#accessibility {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
}
#accessibility a {
	display: block;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin-bottom: -1px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#accessibility a:focus, #accessibility a:active {
	width: 100%;
	height: auto;
	padding: 7px 0;
	background-color: #000;
}

/* header renewal */
header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 50;
    background: #fff;
    border-bottom: 1px solid #888;
    font-family: 'NanumSquareAc';
    color: #222;
    align-items: center;
}
header h1 {
    position: static;
    z-index: auto;
    margin: 0 50px;
}
header h1 img {
    width: 260px;
    height: 48px;
}
    /* nav gnb 메뉴 */
.nav {
    width: calc(100% - 725px);
    max-width: 890px;
    margin: 0 auto;
    padding: 0;
}
.nav .gnb_layout,
.nav .gnb_layout ul {
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content: flex-start; 
    -ms-flex-pack: start; 
    justify-content: flex-start;
}
.nav .gnb_layout {
    height: 110px;    
    justify-content: center;
}
.nav .gnb_layout::before {
    content: '';
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
    background-color: white;
}
.nav .gnb_layout.open::before,
.nav .gnb_layout:hover::before,
.nav .gnb_layout:focus::before { 
    visibility:visible;
    height: 90px; 
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); 
    opacity: 1;
}
.nav .gnb_layout > li > a {
    height: 110px;
    padding: 0 40px;
    font-size: 1.25rem;
    line-height: 110px;
}
.nav > .gnb_layout ul { 
    visibility: hidden;
    position: absolute; 
    top: 100%;
    z-index:10 ;
    width: -webkit-max-content;
    width: -moz-max-content; 
    width: max-content; 
    padding: 34px 32px;
    transform: translateX(-20%); 
    opacity: 0;
}
.nav .gnb_layout > li.current > ul,
.nav .gnb_layout > li:hover > ul,
.nav .gnb_layout > li:focus > ul { 
    visibility:visible;
    opacity:1;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.nav .gnb_layout ul a {
    padding: 10px 15px;
}
.nav > .gnb_layout ul > li + li {
    margin-left: 10px;
}
    /* 메뉴 공통 호버 설정 */
.nav,
.gnb_layout > li > a::after,
.gnb_layout > li > ul				{
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.gnb_layout > li > a {
    display: block;
    position: relative;    
    font-weight: 700;
    font-family: 'NanumSquare';
} 
.gnb_layout > li > a:hover,
.gnb_layout > li:hover > a,
.gnb_layout > li > a:focus,
.gnb_layout > li.current > a {
    color: #0061ce;
    transition: all 0.2s ease-in-out;
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li:hover > a::after,
.gnb_layout > li > a:focus::after,
.gnb_layout > li.current > a::after {
    content:''; 
    display: block; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 3px;
    background-color: #0061ce;
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li > a::after {
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: bottom center;
}
.gnb_layout > li:hover > a::after,
.gnb_layout > li:focus > a::after {
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: bottom center;
}
.gnb_layout ul > li a {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'NanumSquareAc';
}
.gnb_layout > li > ul > li > a:hover,
.gnb_layout > li > ul > li > a:focus,
.gnb_layout > li > ul > li.current > a,
header > .btn_wrap > a:hover, 
header > .btn_wrap > a:focus {
    color: #0060ce;
    transition: all 0.2s ease-in-out;
}
    /* right btns */
header > .btn_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header > .btn_wrap > a {
    padding: 1rem 1.25rem;
    font-size: .875rem;
    font-weight: 400;
    font-family: 'NanumSquareAc';
    color: #333;
}
header .btn_wrap > button {
    overflow: hidden;
    position: relative;
    width: 90px;
    height: 110px;    
    text-indent: -9999px;
}
header .btn_wrap > button.bg_blue {
    width: 110px;
    height: 110px;
    background: #0060ce;
    color: #fff;
}
    /* 검색 */
.search_wrap.active,
.search_wrap.active::before {
    visibility: visible;
    opacity: 1;
}
.search_wrap.active {
    height: 180px;
}
div.search_wrap {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    border-top: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    background: #fff; 
    transition: all .4s cubic-bezier(.59, .01, .43, 1);
    opacity: 0;
    align-items: center;
}
.search_wrap::before,
.search_wrap::before {
    content: '';
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background: rgba(0,0,0,.5);
    opacity: 0;
}
.search_wrap form, 
.search_wrap form fieldset {
    width: 100%;
}
.search_wrap .search_inner {
    display: flex;
    width: 100%;
    padding: 0 10px 0 50px;
    justify-content: center;
}
.search_wrap .search_inner input {
    display: block;
    width: calc(100% - 234px);
    max-width: 650px;
    padding: 20px 30px;
    border: 2px solid #0061ce;
    line-height: 1.5rem;
}
.search_wrap .search_inner input::placeholder {
    font: 700 1.125rem 'NanumSquare';
    color: #d3d3d3;
}
.search_wrap .search_inner input:focus {
    border: 2px solid #222;
    outline: 0;
}
.search_wrap .search_inner .search_btn {
    height: 68px;
    padding: 24px 50px 23px;
    background: #0060ce;
    font: 700 1.125rem 'NanumSquare';
    color: #fff;
}
.search_wrap .search_inner .close_btn {
    position: relative;
    padding: 22px 50px;
    color: #d4d4d4;
    text-indent: -9999px;
}
.search_wrap .search_inner .close_btn .icon_close {
    left: auto;
    margin-top: 4px;
}
    /* 전체 메뉴 */
.all_menu.active {
    visibility: visible;
    opacity: 1;    
}
.all_menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    min-height: 800px;
    background: #f4f4f4 url(../img/all_menu_bg.png) repeat-x bottom 80px right;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.all_menu .btn_wrap {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}
.all_menu .btn_wrap .icon_close {
    margin-top: -9px;
}
.all_menu h1 a,
.all_menu .btn_wrap .btn_top_search_open {
    display: none;
}
.all_menu h1 {
    position: relative;
    height: 112px;
    margin: 55px 370px 35px 0;
    background: url(../img/all_menu_top.png) repeat-x;
    background-position: right top;
}
.all_menu h1::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50px;
    right: -50px;
    width: 103px;
    height: 63px;
    background: url(../img/stl_text_img.svg) no-repeat;
}
.all_menu .gnb_layout {
    display: grid;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.all_menu .gnb_layout > li > a {
    display: inline-block;
    padding: 10px 0 20px;
    font-size: 1.125rem;
}
.all_menu .gnb_layout li > ul {
    margin-top: 20px;
}
.all_menu .gnb_layout li > ul > li > a {
    display: block;
    padding: 6px 0;
    font-size: .938rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.all_menu .gnb_layout > .login_menu {
    padding-top: 57px;
}
.all_menu .gnb_layout > .login_menu a::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 12px;
    border-radius: 10px;
    background: currentColor;
    vertical-align: middle;
}

/* ---------- respond ---------- */

@media screen and (max-width: 1600px) {
    /* header */
    header h1 {
        margin: 0 20px;
    }
    header h1 a {
        display: block;
        width: 143px;
        height: 73px;
        background: url(../img/tablet_logo.svg) no-repeat;
    }
    header h1 a > img {
        display: none;
    }
    .nav .gnb_layout > li > a {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1280px) {
    /* header */
    .nav .gnb_layout > li > a {
        padding: 0 12px;
    }
    header > .btn_wrap > a {
        display: none;
    }   
}

@media screen and (max-width: 1024px) {
    /* search */    
    div.search_wrap {
        z-index: 101;
    }    
    /* header */
    .nav {
        display: none;
    }
    header h1 {
        width: calc(100% - 220px);
        margin-right: 0;
    }
    header h1 a {
        width: auto;
        height: 48px;
        max-width: 260px;
        background: url(../img/web_logo.svg) no-repeat left center;
        background-size: 100%;
    }    
    /* mobile header */
    .all_menu.active {
        right: 0;
        opacity: 1;
    }
    .all_menu {
        visibility: visible;
        top: 0;
        overflow-y: auto;
        right: -100%;
        left: auto;
        min-height: 100%;
        background-position: bottom 80px center;
        transition: all .4s cubic-bezier(.59, .01, .43, 1);
    }
    .all_menu > div {
        position: sticky;
        top: 0;
        z-index: 101;
    }
    .all_menu h1 a img {
        width: 260px;
        height: 48px;
    }
    .all_menu h1 a,
    .all_menu h1 a img,
    .all_menu .btn_wrap .btn_top_search_open {
        display: inline-block;
    }
    .all_menu h1::after {
        display: none;
    }
    .all_menu h1 {
        width: 100%;
        height: 110px;
        margin: 0;
        padding: 30px 20px;
        border-bottom: 1px solid #e1e1e1;
        background: #fff;
    }
    .all_menu h1 a {
        width: 260px;
        height: 48px;
        background: none;
    }
    /* mobile gnb */
    .all_menu .gnb_layout {
        display: block;
        width: 90%;
        max-width: 400px;
        margin: 0;
        padding: 30px 50px 80px;
    }    
    .all_menu .gnb_layout > li > a {
        display: block;
        position: relative;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        font-size: 1.375rem;
    }
    .all_menu .gnb_layout > li > a:hover,
    .all_menu .gnb_layout > li:hover > a,
    .all_menu .gnb_layout > li > a:focus,
    .all_menu .gnb_layout > li.current > a {
        border-color: #0061ce;;
    }
    .all_menu .gnb_layout > li > a::after {
        content: '';
        display: block;
        position: absolute;
        top: 12px;
        right: 25px;
        width: 12px;
        height: 12px;
        border-top: solid 2px currentColor;
        border-right: solid 2px currentColor;
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    .all_menu .gnb_layout > li.current > a::after,
    .all_menu .gnb_layout > li.current:hover > a::after,
    .all_menu .gnb_layout > li.current > a:focus:after {
        top: 25px;
        right: 16px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .all_menu .gnb_layout > li > a:hover::after,
    .all_menu .gnb_layout > li:hover > a::after,
    .all_menu .gnb_layout > li > a:focus::after,
    .all_menu .gnb_layout > li.current > a::after {
        bottom: auto;
        left: auto;
        background: none;
    }
    .all_menu .gnb_layout li > ul {
        display: none;
        margin: 15px 15px 35px;
    }
    .all_menu .gnb_layout li.current > ul {
        display: block;
    }
    .all_menu .gnb_layout li > ul > li > a {
        padding-left: 20px;
        font-size: 1rem;
        font-weight: 600;
    }
    .all_menu .gnb_layout li > ul > li > a::before {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 3px;
        margin-top: 7px;
        margin-left: -12px;
        background-color: currentColor;
    }
    .all_menu .gnb_layout li > ul > li + li {
        margin-top: 8px;
    }
    .all_menu .gnb_layout > .login_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 50px;
        background: #444;
    }
    .all_menu .gnb_layout > .login_menu ul {
        display: flex;
        margin: 0;
    }
    .all_menu .gnb_layout .login_menu > ul > li + li {
        margin-top: 0;
        margin-left: 10px;
    }
    .all_menu .gnb_layout .login_menu > ul > li > a {
        padding: 10px;
        font-size: .875rem;
        font-weight: 200;
        color: #fff;
    }
    .all_menu .gnb_layout > .login_menu a::before {
        display: none;
    }
    .all_menu .gnb_layout .login_menu > ul > li > a:hover {
        color: #ccc;
    }
}

@media screen and (max-width: 640px) {
    /* search */
    .search_wrap .search_inner input {
        width: calc(100% - 173px);
    }
    .search_wrap .search_inner .search_btn {
        padding: 24px 35px 23px;
    }
    .search_wrap .search_inner .close_btn {
        padding: 22px 35px;
    }
}

@media screen and (max-width: 480px) {
    /* header */
    header h1 {
        width: calc(100% - 130px);
    }
    header .btn_wrap > a + button,
    .all_menu .btn_wrap .btn_top_search_open {
        display: none;
    }
    /* mobile gnb */
    .all_menu .gnb_layout {
        width: 100%;
        max-width: none;
        padding: 30px 30px 80px;
    }
}

@media screen and (max-width: 425px) {
    /* header */    
    header h1 a,
    .all_menu h1 a {
        height: 73px;
        background: url(../img/tablet_logo.svg) no-repeat left center;
    }
    .all_menu h1 a img {
        display: none;
    }
    .all_menu h1 {
        display: flex;
        padding: 0 0 0 20px;
        align-items: center;
    }
    /* search */
    .search_wrap .search_inner {
        padding: 0 15px 0 25px;
    }
    .search_wrap .search_inner input {
        width: calc(100% - 143px);
    }
    .search_wrap .search_inner .search_btn {
        padding: 24px 25px 23px;
    }
    .search_wrap .search_inner .close_btn {
        padding: 22px 30px;
    }
}