@charset "utf-8";

.wrapper {
    position: relative;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0;
}
.wrapper section h3 {
    margin-bottom: 30px;
    font-size: 1.375rem;
    font-weight: 800;
    font-family:"relaxia";
    color: #949494;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.main .inner {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}
/* visusl */
.main .visual {
    position: relative;
}
.main .txt_area {
    position: absolute;
    top: 120px;
    z-index: 1;
}
.main .txt_area > h2,
.main .txt_area p span {
    padding: 0 3px;
    background: rgba(255, 255, 255, .9);
} 
.main .txt_area > h2 {
    display: inline;
    font: bold  2.5rem "relaxia";
}
.main .txt_area > h2 span {
    background-image: linear-gradient(120deg, rgb(0, 97, 206), rgb(0, 35, 74));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
}
.main .txt_area p {
    font-weight: 500;
}
.main .txt_area h2 + p {
    margin-bottom: 30px;
}
.main .txt_area p strong,
.main .txt_area p b {
    display: block;
    margin: 50px 0 30px;
    font-size: 2.375rem;
    font-weight: 700;
}
.main .txt_area p b {
    margin: 0;
    font-size: 2rem;
    line-height: 2.75rem;
}
    /* slider */
.main .slider_area {
    width: 100%;
}
.main .slider_area .slider {
    position: relative;
    width: 100%;
    max-width: 911px;
    margin-left: auto;
}
.main .slider::after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 80px;
    height: 83px;
    background: url(../img/visual_slide_logo.png) no-repeat;
}
.main .slider_dots {    
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}
.main .slider_dots ul {
    font-size: 0;
}
.main .slider_dots ul li {
    display: inline-flex;
    width: 10px;
    height: 10px;
    background: #cdcdcd;
}
.main .slider_dots li + li {
    margin-left: 4px;
}
.main .slider_dots ul li:hover,
.main .slider_dots ul li:focus {
    background: #444;
}
.main .slider_dots ul li.slick-active {
    width: 18px;
    height: 18px;
    background: #111;
    vertical-align: bottom;
    transition: all .4s cubic-bezier(.59, .01, .43, 1);
}
.slider_dots .dots_btn {
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    background: #cdcdcd;
}
.slider_dots .dots_btn:hover,
.slider_dots .dots_btn:focus {
    background: #444;
    color: #cdcdcd;
}
.slider_dots .play::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-top: calc(-25%);
    margin-left: calc(50% - 2px);
    border: 0.375rem solid transparent;
    border-left-color: currentColor;
}
.slider_dots .stop::after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 10px;
    margin-top: calc(50% - 19px);
    margin-left: calc(50% - 3px);
    border: 2px solid currentColor;
    border-top: none;
    border-bottom: none;
}

/* service */
.main .service {
    margin-top: -310px;
    height: 580px;
}
.service ul {
    display: flex;
    width: 100%;
    max-width: 1250px;
}
.service ul li {
    position: relative;
    width: 290px;
    height: 290px;
    padding: 55px 45px 0;
    background: #f4f4f4;
    transition: all .4s cubic-bezier(.59, .01, .43, 1);
}
.service ul li + li {
    margin-left: 30px;
}
.service li h4::before {
    content: '';
    display: block;
    width: 86px;
    height: 86px;
    margin-bottom: 30px;
    background-color: #b1b1b1;
    -webkit-mask: url(../img/icon_service_01.svg) no-repeat left top;
    mask: url(../img/icon_service_01.svg) no-repeat left top;
}
.service li:nth-child(2) h4::before {
    -webkit-mask: url(../img/icon_service_02.svg) no-repeat left top;
    mask: url(../img/icon_service_02.svg) no-repeat left top;
}
.service li:nth-child(3) h4::before {
    -webkit-mask: url(../img/icon_service_03.svg) no-repeat left top;
    mask: url(../img/icon_service_03.svg) no-repeat left top;
}
.service li:nth-child(4) h4::before {
    -webkit-mask: url(../img/icon_service_04.svg) no-repeat left top;
    mask: url(../img/icon_service_04.svg) no-repeat left top;
}
.service li h4 {
    margin-bottom: 12px;
    font: 800 1.25rem "NanumSquare";
    color: #010101;
}
.service li h4 span {
    display: block;
    opacity: .15;
    margin-top: 12px;
    letter-spacing: 2px;
}
.service li > a {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
    background: #5599f4;
    color: #fff;
}
.service li h4 + div p {
    font-size: .9375rem;
    color: #fff;
}
.service li h4 + div p::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: -2px 10px 0 0;
    background: currentColor;
    vertical-align: middle; 
}
.service li h4 + div > a {
    display: inline-block;
    margin: 15px 0 0 7px;
    padding: 0 8px;
    background: #003dce;
    font-size: .9375rem;
    color: #fff;
}
.service li h4 + div {
    visibility: hidden;
    opacity: 0;
}
    /* hover style */
    .service li:hover h4 + div,
    .service li:focus h4 + div {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    transition-delay: .2s;
}
.service ul li:hover,
.service ul li:focus {
    height: 370px;
    background: #0061ce;
}
.service li:hover h4 b,
.service li:focus h4 b {
    color: #fff;
    transition: all .1s ease-in-out;
}
.service li:hover h4::before,
.service li:focus h4::before {
    background-color: #4a92ef;
}

/* about STL & community */
.about_comm {
    display: flex;
    padding: 90px 100px;
}
.about_stl {
    width: calc(70% - 30px);
    margin-right: 30px;
}
.about_stl > ul {
    display: flex;
}
.about_stl > ul li {
    display: flex;
    width: 33.3%;
    background: #444;
}
.about_stl > ul li a {
    display: flex;
    min-height: 405px;
    padding: 55px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    align-items: end;

}
.community {
    width: 30%;
}
.community > ul li {
    margin-bottom: 15px;
}
.community > ul a {
    display: flex;
    width: 100%;
    padding: 40px 55px;
    background: #f4f4f4;
    font-size: 1.375rem;
    font-weight: 600;
    justify-content: end;    
    align-items: center;
    
}
.community a span {
    margin-right: auto;
}
.community a figure {
    width: 50px;
    height: 45px;
    margin: 0 10px; 
    background: #0060ce;
}
.community .icon_arrow {
    width: 20px;
    height: 20px;
}


/* partners */
.partners {
    width: 100%;
    padding: 90px 0;
    background: #313131;
    text-align: center;
}

/* footer */
footer {
    width: 100%;
    margin: 0;
    padding: 90px 100px;
    background: #0d0d0d;
    font-size: .875rem;
    font-weight: 400;
    font-family: 'NanumSquareAc';
    overflow-x: hidden;
}
footer > ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    color: #fff;
}
footer > ul li {
    margin-right: 35px;
}
footer > ul li b {
    margin-right: 6px;
    color: #ccc;
}
footer > ul li span {
    color: #999;
}
footer > ul li:first-child b,
footer > ul li:first-child span {
    color: #fff;
}
footer > ul li:last-child span a {
    letter-spacing: 1px;
}
footer p {
    margin-top: 5px;
    color: #fff;
}
footer .copy {
    margin-top: 55px;
    color: #666;
    letter-spacing: .5px;
}




